WebViewApplication/WebViewApplication/Web References/PowderAPI/PowderController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllPowders">
        <s:complexType />
      </s:element>
      <s:element name="getAllPowdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPowdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStocks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringPowders" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStocksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateStocksResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePowder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePowderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deletePowderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPowdersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPowders" />
  </wsdl:message>
  <wsdl:message name="getAllPowdersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPowdersResponse" />
  </wsdl:message>
  <wsdl:message name="updateStocksSoapIn">
    <wsdl:part name="parameters" element="tns:updateStocks" />
  </wsdl:message>
  <wsdl:message name="updateStocksSoapOut">
    <wsdl:part name="parameters" element="tns:updateStocksResponse" />
  </wsdl:message>
  <wsdl:message name="deletePowderSoapIn">
    <wsdl:part name="parameters" element="tns:deletePowder" />
  </wsdl:message>
  <wsdl:message name="deletePowderSoapOut">
    <wsdl:part name="parameters" element="tns:deletePowderResponse" />
  </wsdl:message>
  <wsdl:portType name="PowderControllerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPowders">
      <wsdl:input message="tns:getAllPowdersSoapIn" />
      <wsdl:output message="tns:getAllPowdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateStocks">
      <wsdl:input message="tns:updateStocksSoapIn" />
      <wsdl:output message="tns:updateStocksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePowder">
      <wsdl:input message="tns:deletePowderSoapIn" />
      <wsdl:output message="tns:deletePowderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PowderControllerSoap" type="tns:PowderControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPowders">
      <soap:operation soapAction="http://tempuri.org/getAllPowders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStocks">
      <soap:operation soapAction="http://tempuri.org/updateStocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePowder">
      <soap:operation soapAction="http://tempuri.org/deletePowder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PowderControllerSoap12" type="tns:PowderControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPowders">
      <soap12:operation soapAction="http://tempuri.org/getAllPowders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStocks">
      <soap12:operation soapAction="http://tempuri.org/updateStocks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePowder">
      <soap12:operation soapAction="http://tempuri.org/deletePowder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PowderController">
    <wsdl:port name="PowderControllerSoap" binding="tns:PowderControllerSoap">
      <soap:address location="http://localhost:57365/Controller(2)/PowderController.asmx" />
    </wsdl:port>
    <wsdl:port name="PowderControllerSoap12" binding="tns:PowderControllerSoap12">
      <soap12:address location="http://localhost:57365/Controller(2)/PowderController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>